Button {
  margin-top: 50px;
}

.question {
  display: none;

}
.landingQuestion {
  text-align: center;

}
.container {
  margin-left: 500px;
}

label {
  font-size: 25px;
}

.result {
  font-size: 50px;
  margin-top: 150px;
  color: blue;
  text-align: center;
}
